# Tabular data preprocessing

## Overview

This package contains the basic class to define a transformation for preprocessing dataframes of tabular data, as well as basic `TabularTransform`. Preprocessing includes things like
- replacing non-numerical variables by categories, then their ids,
- filling missing values,
- normalizing continuous variables.

In all those steps we have to be careful to use the correspondance we decide on our training set (which id we give to each category, what is the value we put for missing data, or how the mean/std we use to normalize) on our validation or test set. To deal with this, we use a speciall class called `TabularTransform`.

The data used in this document page is a subset of the [adult dataset](https://archive.ics.uci.edu/ml/datasets/adult). It gives a certain amount of data on individuals to train a model to predict wether their salary is greater than \$50k or not.

In [ ]:
from fastai.gen_doc.nbdoc import *
from fastai.tabular import * 
from fastai.docs import *

In [ ]:
untar_adult()
ADULT_PATH = DATA_PATH / 'adult_sample'
df = pd.read_csv(ADULT_PATH/'adult.csv')
train_df, valid_df = df[:800].copy(),df[800:].copy()

In [ ]:
train_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>50K
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>50K
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<=50K
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<=50K

We see it contains numerical variables (like `age` or `education-num`) as well as categorical ones (like `workclass` or `relationship`). The original dataset is clean, but we removed a few values to give examples of dealing with missing variables.

In [ ]:
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
cont_names = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']

## Transforms for tabular data

In [ ]:
show_doc(TabularTransform, doc_string=False)

## <a id=TabularTransform></a>`class` `TabularTransform`
> `TabularTransform`(`cat_names`:`StrList`, `cont_names`:`StrList`)
<a href="https://github.com/fastai/fastai_pytorch/blob/master/fastai/tabular/transform.py#L7">[source]</a>

Creates a transform for dataframes with categorical variables `cat_names` and continuous variables `cont_names`. Note that any column not in one of those lists won't be touched by the `TabularTransform`.

Such a class is just a switch between an `apply_train` and an `apply_test` function. Those functions apply the changes in place.

In [ ]:
show_doc(TabularTransform.__call__)

#### <a id=__call__></a>`__call__`
> `__call__`(`df`:`DataFrame`, `test`:`bool`=`False`)


Apply the correct function to `df` depending on `test`. <a href="https://github.com/fastai/fastai_pytorch/blob/master/fastai/tabular/transform.py#L12">[source]</a>

When subclassing a `TabularTransform`, we have to overwrite its two methods: `apply_train` and `apply_test`. The second one defaults to the first.

The following `TabularTrasnform` are implemented in the fastai library. Note that the replacement from categories to codes as well as the normalization of continuous variables are automatically done in a `TabularDataset`.

In [ ]:
show_doc(Categorify, doc_string=False)

## <a id=Categorify></a>`class` `Categorify`
> `Categorify`(`cat_names`:`StrList`, `cont_names`:`StrList`) :: [`TabularTransform`](/tabular.transform.html#TabularTransform)
<a href="https://github.com/fastai/fastai_pytorch/blob/master/fastai/tabular/transform.py#L24">[source]</a>

Changes the categorical variables in `cat_names` in categories. Variables in `cont_names` aren't affected.

In [ ]:
show_doc(Categorify.apply_train, doc_string=False)

#### <a id=apply_train></a>`apply_train`
> `apply_train`(`df`:`DataFrame`)
<a href="https://github.com/fastai/fastai_pytorch/blob/master/fastai/tabular/transform.py#L27">[source]</a>

Transforms the variable in the `cat_names` columns in categories. The category codes are the unique values in these columns.

In [ ]:
show_doc(Categorify.apply_test, doc_string=False)

#### <a id=apply_test></a>`apply_test`
> `apply_test`(`df`:`DataFrame`)
<a href="https://github.com/fastai/fastai_pytorch/blob/master/fastai/tabular/transform.py#L33">[source]</a>

Transforms the variable in the `cat_names` columns in categories. The category codes are the ones used for the training set, new categories are replaced by NaN.

In [ ]:
tfm = Categorify(cat_names, cont_names)
tfm(train_df)
tfm(valid_df, test=True)

In [ ]:
train_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>50K
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>50K
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<=50K
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<=50K

Since we haven't changed the categories by their codes, nothing visible has changed in the dataframe yet, but we can check that the variables are now categorical and their corresponding codes.

In [ ]:
train_df['workclass'].cat.categories

Index([' ?', ' Federal-gov', ' Local-gov', ' Private', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov', ' Without-pay'],
      dtype='object')

In [ ]:
valid_df['workclass'].cat.categories

Index([' ?', ' Federal-gov', ' Local-gov', ' Private', ' Self-emp-inc',
       ' Self-emp-not-inc', ' State-gov', ' Without-pay'],
      dtype='object')

In [ ]:
show_doc(FillMissing, doc_string=False)

## <a id=FillMissing></a>`class` `FillMissing`
> `FillMissing`(`cat_names`:`StrList`, `cont_names`:`StrList`, `fill_strategy`:[`FillStrategy`](/tabular.transform.html#FillStrategy)=`<FillStrategy.MEDIAN: 1>`, `add_col`:`bool`=`True`, `fill_val`:`float`=`0.0`) :: [`TabularTransform`](/tabular.transform.html#TabularTransform)
<a href="https://github.com/fastai/fastai_pytorch/blob/master/fastai/tabular/transform.py#L40">[source]</a>

Transform that fills the missing values in `cont_names`. `cat_names` variables are left untouched (their missing value will be raplced by code 0 in the `TabularDataset`). `fill_strategy` is adopted to replace those nans and if `add_col` is True, whenever a column `c` has missing values, a column named `c_nan` is added and flags the line where the value was missing. The `fill_strategy` can be:
- `FillStrategy.MEDIAN`: nans are replaced by the median value of the column,
- `FillStrategy.COMMON`: nans are replaced by the most common value of the column,
- `FillStrategy.CONSTANT`: nans are replaced by `fill_val`.

In [ ]:
show_doc(FillMissing.apply_train, doc_string=False)

#### <a id=apply_train></a>`apply_train`
> `apply_train`(`df`:`DataFrame`)
<a href="https://github.com/fastai/fastai_pytorch/blob/master/fastai/tabular/transform.py#L46">[source]</a>

Fills the missing values in the `cont_names` columns.

In [ ]:
show_doc(FillMissing.apply_test, doc_string=False)

#### <a id=apply_test></a>`apply_test`
> `apply_test`(`df`:`DataFrame`)
<a href="https://github.com/fastai/fastai_pytorch/blob/master/fastai/tabular/transform.py#L59">[source]</a>

Fills the missing values in the `cont_names` columns with the ones picked during train.

In [ ]:
tfm = FillMissing(cat_names, cont_names)
tfm(train_df)
tfm(valid_df, test=True)

In [ ]:
train_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,education-num_na
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,>50K,False
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,>50K,False
2,38,Private,96185,HS-grad,10.0,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,<=50K,True
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,>50K,False
4,42,Self-emp-not-inc,82297,7th-8th,10.0,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,<=50K,True

Values issing in the `education-num` column are replaced by 10, which is the median of the column in `train_df`.

In [ ]:
valid_df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,education-num_na
800,45,Private,96975,Some-college,10.0,Divorced,Handlers-cleaners,Unmarried,White,Female,0,0,40,United-States,<=50K,True
801,46,Self-emp-inc,192779,Prof-school,10.0,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,60,United-States,>50K,True
802,36,Private,376455,Assoc-voc,10.0,Divorced,NaN,Not-in-family,White,Male,0,0,38,United-States,<=50K,True
803,25,Federal-gov,50053,Bachelors,10.0,Never-married,Tech-support,Not-in-family,White,Male,0,0,45,United-States,<=50K,True
804,37,Private,164526,Bachelors,10.0,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,<=50K,True

Here as well, the missing value in `education-num` are replaced by 10.